# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  schedule:
  - cron: "0 4 * * *"
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - uses: webfactory/ssh-agent@v0.4.0
    # Decrypt github credentials into .planemo/yml
    - shell: bash
      run: |
        # decrypt the git credentials file
        # --batch to prevent interactive command
        # --yes to assume "yes" for questions
        gpg --quiet --batch --yes --decrypt --passphrase "$PLANEMO_AUTOUPDATE_PASSPHRASE" --output $HOME/.planemo.yml autoupdate-credentials.gpg
        cat $HOME/.planemo.yml
      env:
        PLANEMO_AUTOUPDATE_PASSPHRASE: ${{ secrets.PLANEMO_AUTOUPDATE_PASSPHRASE }}
    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: bash run_autoupdate.sh
